<ul class="navbar-list right">
    <li class="hide-on-med-and-down">
      <a Dmdropdown  class="waves-effect btn waves-block waves-light translation-button gradient-45deg-purple-deep-orange"
        data-target="translation-dropdown">
        <span class="flag-icon flag-icon-it"></span>
      </a>
      <ul class="dropdown-content" id="translation-dropdown" tabindex="0">
        <li tabindex="0"><a class="grey-text text-darken-1" (click)="useLang('it')"><i
              class="flag-icon flag-icon-it"></i>
            Italiano</a></li>
        <li tabindex="1"><a class="grey-text text-darken-1" (click)="useLang('en')"><i
              class="flag-icon flag-icon-gb"></i>
            English</a></li>
      </ul>
    </li>
    </ul>
<div class="row">
  <div class="col s12">
    <div class="container">
      <div id="login-page" class="row">
        <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
          <form class="login-form">
            <div *ngIf="!token">
                <div *ngIf="continua==false">
                    <div class="row">
                      <div class="input-field col s12">
                        <h5 class="ml-4" [translate]="'authentication.forgotPassword.title'">Password dimenticata</h5>
                      </div>
                    </div>
                    <div class="row margin">
                    <p class="caption mb-0" [translate]="'authentication.forgotPassword.text1'" style="text-align: center">
                      Inserisci l'indirizzo e-mail associato al tuo account EasySupp poi clicca continua
                    </p>
                    <p class="caption mb-0" [translate]="'authentication.forgotPassword.text2'" style="text-align: center">
                      Ti invieremo le istruzioni necessarie per creare una nuova password
                    </p>
                      <div class="input-field col s12">
                        <input id="username" type="email" name="myAddress" [(ngModel)]="mail" (keydown.enter)="reset()">
                        <label for="username" class="center-align">Email</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <a (click)="reset()" [translate]="'authentication.forgotPassword.continue'" class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12">Continua</a>
                      </div>
                    </div>
                    <p></p>
                    </div>
                    <div *ngIf="continua==true" class="animated jackInTheBox">
                      <div *ngIf="!completato && !error">
                        <div class="input-field col s12">
                          <h5 class="ml-4" [translate]="'authentication.forgotPassword.SendInProgress'">Invio in corso</h5>
                        </div>

                        <div class="progress" *ngIf="!completato && !error">
                            <div class="indeterminate"></div>
                          </div>
                      </div>


                      <div *ngIf="completato">
                        <div class="input-field col s12">
                          <h5 class="ml-4" [translate]="'authentication.forgotPassword.EmailSent'">Email inviata</h5>
                        </div>

                        <div class="row margin" style="text-align: center">
                          <div class= "row">
                            <a class="caption mb-0" [translate]="'authentication.forgotPassword.textEmailSent1'">
                              Ti è stata inviata una mail all'indirizzo
                            </a>
                             <a style="color: #f36777;">{{mail}}</a>
                            <a [translate]="'authentication.forgotPassword.textEMailSent2'">
                              con le istruzioni,
                            </a>
                          </div>
                            <div class="row">
                              <a [translate]="'authentication.forgotPassword.textEmailSent3'">
                              se non hai ricevuto la mail riprova cliccando
                            </a>
                              <a (click)="indietro()" [translate]="'authentication.forgotPassword.buttonHere'" style="color: blue; text-decoration: underline; cursor: pointer">qui</a>
                            </div>

                            <p></p>

                            <div class="center">
                                <i class="material-icons dp48" style="font-size: 35px">sentiment_very_satisfied</i>
                              </div>
                          </div>
                      </div>


                      <div *ngIf="error">
                          <div class="input-field col s12">
                              <h5 class="ml-4" [translate]="'authentication.forgotPassword.EmailNotSent'">Email non inviata</h5>
                            </div>

                          <div class="row margin" style="text-align: center">
                            <div class="row">
                              <a class="caption mb-0" [translate]="'authentication.forgotPassword.theMail'">
                                La email
                              </a>
                               <a style="color: #f36777;">{{mail}}</a>
                              <a [translate]="'authentication.forgotPassword.notFoundText'">
                                 non è stata trovata nei nostri registri,
                              </a>
                            </div>

                              <div class="row">
                                <a [translate]="'authentication.forgotPassword.notFoundText2'">
                                  riprova cliccando
                                </a>
                                  <a (click)="indietro()" [translate]="'authentication.forgotPassword.buttonHere'" style="color: blue; text-decoration: underline; cursor: pointer">qui</a>

                              </div>

                              <p></p>

                              <div class="center">
                                <i class="material-icons dp48" style="font-size: 35px">sentiment_neutral</i>
                              </div>
                            </div>
                      </div>
                      <p></p>
                    </div>

            </div>
          </form>
            <div *ngIf="token">
                <div class="row">
                    <div class="input-field col s12">
                      <h5 class="ml-4">Reset Password</h5>
                    </div>
                  </div>
                  <div class="row margin" style="text-align: center">
                      <a class="caption mb-0" [translate]="'authentication.forgotPassword.welcomeBack'">
                        Bentornato
                      </a>
                       <a style="color: #f36777;">{{info.first_name + ' ' + info.last_name}}</a>
                      <a [translate]="'authentication.forgotPassword.resetSection'">
                        , qui sotto potrai resettare la password relativa all'account associato alla mail
                      </a>
                      <a style="color: #f36777;">{{info.email}}</a>

                  <div class="row margin">
                    <div class="input-field col s12">
                      <i class="material-icons prefix pt-2">lock_outline</i>
                      <input id="pass" type="password" [(ngModel)]="info.password">
                      <label for="pass">Password</label>
                    </div>
                  </div>
                  <div class="row margin">
                      <div class="input-field col s12">
                        <i class="material-icons prefix pt-2">lock_outline</i>
                        <input id="confPass" type="password" [(ngModel)]="confPass">
                        <label for="confPass" [translate]="'authentication.forgotPassword.confirmPassword'">Conferma Password</label>
                      </div>
                    </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <a (click)="patchPass()"
                        class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12" [translate]="'authentication.forgotPassword.resetPassword'">Resetta Password</a>
                    </div>
                  </div>
                  <p></p>
            </div>


            <div class="row">
              <div class="input-field col s6 m6 l6">
                <p class="margin medium-small"></p>
              </div>
            </div>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

