#modal1 {
  width: 100vw;
  height: 100vh !important;
  top: 0% !important;
  max-height: 100% !important;
}

.center-modal {
  position: absolute;
  width: 40% !important;
  top: 45% !important;
  left: 30% !important;
  text-align: center;
}
