<header class="page-topbar" id="header">
  <div class="navbar navbar-fixed">
    <nav
      class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-indigo-purple no-shadow">
      <div class="nav-wrapper">
        <div style="padding: 20px 90px !important;" class="left">
          <div class="nav-wrapper">
            <div class="col s12">
              <a *ngFor="let n of utilityService.Navigation" [routerLink]="['/dashboard/' + n.path]" class="breadcrumb">{{n.title}}</a>
            </div>
          </div>
        </div>
        <ul class="navbar-list right">
          <li class="hide-on-med-and-down">
            <a Dmdropdown class="generic-ddl waves-effect waves-block waves-light"
            data-target="azienda-dropdown">
               Digimark S.r.l. <span class="material-icons small">arrow_drop_down</span>
            </a>
            <ul class="dropdown-content" id="azienda-dropdown" tabindex="0">
              <li tabindex="0"><a class="grey-text text-darken-1" (click)="useLang('it')">
                  Digimark S.r.l.</a></li>
              <li tabindex="1"><a class="grey-text text-darken-1" (click)="useLang('en')">
                  Google LTD</a></li>
            </ul>
          </li>
          <li class="hide-on-med-and-down">
            <a Dmdropdown  class="waves-effect waves-block waves-light translation-button"
              data-target="translation-dropdown">
              <span class="flag-icon flag-icon-it"></span>
            </a>
            <ul class="dropdown-content" id="translation-dropdown" tabindex="0">
              <li tabindex="0"><a class="grey-text text-darken-1" (click)="useLang('it')"><i
                    class="flag-icon flag-icon-it"></i>
                  Italiano</a></li>
              <li tabindex="1"><a class="grey-text text-darken-1" (click)="useLang('en')"><i
                    class="flag-icon flag-icon-gb"></i>
                  English</a></li>
            </ul>
          </li>
          <li><a Dmdropdown class="waves-effect waves-block waves-light notification-button"
              data-target="notifications-dropdown"><i class="material-icons">notifications_none<small
                  class="notification-badge">5</small></i></a>
            <ul class="dropdown-content" id="notifications-dropdown" tabindex="0">
              <li tabindex="0">
                <h6>NOTIFICATIONS<span class="new badge">5</span></h6>
              </li>
              <li class="divider" tabindex="0"></li>
              <li tabindex="0"><a class="grey-text text-darken-2" href="#!"><span
                    class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been
                  placed!</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
              </li>
              <li tabindex="0"><a class="grey-text text-darken-2" href="#!"><span
                    class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
              </li>
              <li tabindex="0"><a class="grey-text text-darken-2" href="#!"><span
                    class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
              </li>
              <li tabindex="0"><a class="grey-text text-darken-2" href="#!"><span
                    class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting started</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
              </li>
              <li tabindex="0"><a class="grey-text text-darken-2" href="#!"><span
                    class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly report</a>
                <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
              </li>
            </ul>
          </li>
          <li><a Dmdropdown class="waves-effect waves-block waves-light profile-button"
              data-target="profile-dropdown"><span class="avatar-status avatar-online"><img
                  src="assets/images/avatar/avatar-7.png" alt="avatar"><i></i></span></a>
            <ul class="dropdown-content" id="profile-dropdown" tabindex="0">
              <li tabindex="0"><a class="grey-text text-darken-1" [routerLink]="['/settings/profile/', user.id]"><i
                    class="material-icons">person_outline</i> Profile</a></li>
              <li tabindex="0"><a class="grey-text text-darken-1" href="app-chat.html"><i
                    class="material-icons">chat_bubble_outline</i> Chat</a></li>
              <li tabindex="0"><a class="grey-text text-darken-1" href="page-faq.html"><i
                    class="material-icons">help_outline</i> Help</a></li>
              <li tabindex="0"><a class="grey-text text-darken-1" [routerLink]="['settings/companies']"><i
                class="material-icons">settings</i> Settings</a></li>
              <li class="divider" tabindex="0"></li>
              <li tabindex="0"><a class="grey-text text-darken-1" href="user-lock-screen.html"><i
                    class="material-icons">lock_outline</i> Lock</a></li>
              <li tabindex="0"><a class="grey-text text-darken-1" (click)="logOut()"><i
                    class="material-icons">keyboard_tab</i> Logout</a></li>
            </ul>
          </li>
        </ul>
        <!-- translation-button-->

        <!-- notifications-dropdown-->

        <!-- profile-dropdown-->

      </div>
      <nav class="display-none search-sm">
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input class="search-box-sm" type="search" required="">
              <label class="label-icon" for="search"><i class="material-icons search-sm-icon">search</i></label><i
                class="material-icons search-sm-close">close</i>
            </div>
          </form>
        </div>
      </nav>
    </nav>
  </div>
</header>
